* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
}

/* MOBILE FIRST APPROACH */
body {
	/* border: solid red 1px; */
	background-color: antiquewhite;
	padding: 2rem 2rem 0 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-items: center;
}
.header {
	margin: 1rem;
	font-size: 20px;
}

.form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.form input,
.form button {
	height: 3rem;
	border-radius: 10px;
	margin: 1rem;
	padding: 0 10px;
}

.form input {
	text-align: right;
	width: 35rem;
	font-size: 2rem;
}
.form button {
	font-size: 1.5rem;
}
.form button:hover {
	cursor: pointer;
	background-color: aquamarine;
}

.space {
	/* border: solid red 1px; */
	min-height: 45vh;
}
#output {
	font-size: 36px;
}

footer {
	margin: 20px;
	/* bottom: 20px; */
}
i {
	margin: 0 1em;
}

@media screen and (max-width: 700px) {
	.header {
		font-size: 15px;
	}
	.form input {
		text-align: right;
		width: 25rem;
		font-size: 1.5rem;
	}
	.form button {
		font-size: 1rem;
	}
	#output {
		font-size: 25px;
	}
}
@media screen and (max-width: 400px) {
	.header {
		/* margin: 1rem; */
		font-size: 12px;
	}
	.form input {
		text-align: right;
		height: 2.2rem;
		width: 17rem;
		font-size: 1rem;
	}
	.form button {
		height: 2.2rem;
		font-size: 0.8rem;
	}
	#output {
		font-size: 25px;
	}
}
